
  .container {
      display:grid;
      align-items: center;
      flex-flow:wrap;
  }
.tb{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.morest{
  display: flex;
  align-items: center;
  flex-flow: column;
}
  #title:hover{
    background-color: #983c3c;
  }
  #title{
    color: white;
    background-color: gray;
    border-radius: 5px;
  }
  h2{
    text-align: center;
  }

  button:hover {
    background-color: orange;
}
  .menu{
    float: center;
    text-align: center;
  }
   #menu-principal a {
   font-size: 18px;
   padding-left: 1em;
    }

  table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 30px;

  }

 th {
    border:1px solid black;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;

  }
  td {
     border:1px solid black;
     padding: 5px;
     text-align: center;
     background-color: gray;
     color: white;

   }


    a#link{
      color: black;
      font-weight: bold;
    }
    h2:first-child{
      text-decoration: underline;
    }
  @media (min-width: 500px) {
   body {
       background-color: grey;

   }

   }

   @media (max-width: 499px) {
   body {
       background-color: #57ae1b;
   }
   .container{
     width: 100%:
   }
   }
