*{
  margin: 0;
}
body{
   background: #02010a;
}

h1, h4{
  color: white;
}
h1{
  font-size: 80px;
}
div {
    font-size: 30px;
    p {
        color: blue;
    }
    h3 {
        color: green;
    }
}
@media (min-width: 500px){
.wrapper {
  	 	width: 80%;
      margin-top: 0.2%;
      margin-right: 0%;
      margin-bottom: 0%;
      margin-left: 10%;
  	 }

    header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em 0 1em 0;
     }
#title{
  float: center;
      align-items: center;
      text-align: center;
      font-size: 100px;
      background-color: inherit;
      color: white;
}

.menu{
  float: center;
  text-align: center;
}
 #menu-principal a {
 font-size: 18px;
 padding-left: 1em;
  }
  section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #d5c75f ;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

  .cl1{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 20%;
       order: 4;
       flex-grow: 1;
     	}

  .cl1 img{
  width: 100%;
  margin: auto;
  align-items: center;
  }
  .cl2{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 20%;
       order: 4;
       flex-grow: 1;
     	}
  .cl2 img{
  width: 100%;

  align-items: center;
  }
  .cl3{
    text-align: center;
       margin: auto;
       padding: 3%;
      width: 20%;
       order: 3;
       flex-grow: 1;
      }
  .cl3 img{
  width: 100%;

  align-items: center;
  }
  .cl4{
    text-align: center;
       margin: auto;
       padding: 3%;
      width: 20%;
       order: 5;
       flex-grow: 1;
      }
  .cl4 img{
  width: 100%;

  align-items: center;
  }
  .cl5{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 20%;
       order: 5;
       flex-grow: 1;
     	}

  .cl6{
    text-align: center;
       margin: auto;
       padding: 3%;
      width: 20%;
       order: 1;
       flex-grow: 1;
      }
  .cl5 img{
  width: 100%;

  align-items: center;
  }
}


@media (max-width: 499px){

.wrapper {
  	 	width: 95%;
      margin-top: 0.2%;
      margin-right: 0%;
      margin-bottom: 0%;
      margin-left: 10%;
  	 }
    header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em 0 1em 0;
     }
#title{
    float: center;
      align-items: center;
      text-align: center;
      font-size: 100px;
      background-color: inherit;
      color: white;
}

.menu{
  float: center;
  text-align: center;
}
 #menu-principal a {
 font-size: 18px;
 padding-left: 1em;
  }
  section{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #d5c75f ;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

  .cl1{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 100%;
     	}

  .cl1 img{
  width: 80%;
  margin: auto;
  align-items: center;
  }
  .cl2{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 100%;

     	}
  .cl2 img{
  width: 80%;

  align-items: center;
  }
  .cl3{
    text-align: center;
       margin: auto;
       padding: 3%;
      width: 100%;

      }
  .cl3 img{
  width: 80%;

  align-items: center;
  }
  .cl4{
    text-align: center;
       margin: auto;
       padding: 3%;
      width: 100%;

      }
  .cl4 img{
  width: 80%;

  align-items: center;
  }
  .cl5{
    text-align: center;
       margin: auto;
       padding: 3%;
     	width: 100%;

     	}
  .cl5 img{
  width: 80%;
  align-items: center;
  }
}
