
.container{
  background-attachment:scroll;
  background-image:url(../img/tec.jpg);
  background-size:contain;
  background-repeat:  no-repeat;
background-position: center;
  background-color: black;


}
p::selection {
     color: #983c3c;
     background-color: yellow;
 }

 a#link{
   color: black;
   text-decoration: underline;
   font-weight: bold;

 }
   #title:hover{
     background-color: #983c3c;
   }

    h1, h2 {
          color: black;
      }
      ol > li {
           color: white;
       }
       input[type=text] {
            background-color: red;
        }

        div {
            font-size: 18px;
            p {
                color: blue;
            }
            ul {
                color: green;
            }
        }
#title{
  color: white;
  background-color: gray;
  border-radius: 5px;

}


@media (min-width: 500px) {
  body {
      background-color:  black;
  }
  .menu{
    float: right;
    text-align: center;
  }
   #menu-principal a {
   font-size: 18px;
   padding-left: 1em;
    }
    p{
      background-color: grey;
      color: white;
    }

  }
  @media (max-width: 499px) {
  body {
      background-color:  #57ae1b;
  }
  .menu{
    float: center;
    text-align: center;
  }
   #menu-principal a {
   font-size: 18px;
   padding-left: 1em;
    }
    p{
      background-color: black;
      color: white;
    }

  }
